@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Space+Grotesk:wght@300;400;500&family=Space+Mono&display=swap');

body,
#app {
  font-family: 'Kaisei Decol', serif;
  color: #464646;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-size: 4.75em;
  line-height: 1.1;
  font-weight: 400;
}

h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

h3 {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

h4 {
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

p {
  font-family: 'Space Mono', monospace;
  font-size: 0.75rem;
  font-weight: 400;
}
